{{#each posts}}
  <div style="margin: 2px; border: 1px solid brown;">
    <h1 style="background: brown;">{{title}}</h1>
    <p>{{content}}</p>
    <h1>Created by User {{created_by_user_id}} | {{created_by_username}} | {{date_created}}</h1>
    <button class="comment"> Add Comment + </button>
  </div>
{{/each}}
